@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-textPrimary antialiased selection:bg-accent selection:text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0D0D0D; 
}
::-webkit-scrollbar-thumb {
  background: #161616; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF6B00; 
}
